# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build output
/build/
/out/
/bin/
/cmake-build-*/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio / MSBuild
.vs/
*.sln
*.vcxproj*
*.user

# Logs
*.log
logs/log
src/stb_image.h
res/images/image.png
res/images/image2.jpg

# Clangd cache directory
.cache

res/shaders/VKshader.vert.spv
res/shaders/VKshader.frag.spv
